.gifs {
  margin: 4rem;
  padding-left: 8rem;
  margin-bottom: 15rem;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.search {
  margin-right: 6px;
}

.likeButton {
  margin-top: 1rem !important;
  position: absolute;
  z-index: 1;
}

.removeButton {
  margin-top: 1rem !important;
  position: absolute;
  z-index: 1;
}

.buttonContainer {
  display: flex;
  justify-content: right;
  align-items: right;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.gifContainer {
  display: flex;
  flex-direction: row;
}

.gifList {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.favoriteGiftsTitle {
  margin-top: 2.8rem;
  margin-right: 5rem;
  color: #eaeaea;
}

.allGifsTitle {
  color: #eaeaea;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
